.product-list {
    border-collapse: collapse;
    box-sizing: border-box;
    margin: 15px;
    width: 100%;

    tr {
        padding: 10px;
        width: 100%;
    }
    .product-list-head {
        border-bottom: 2px solid #856096;
        text-align: left;
        tr{
            font-family: 'Pacifico', cursive;
            
            color: gray;
            th{
                color: #6c2192;
                font-weight: lighter;
            font-size:18px;
                padding: 10px;
                padding-bottom: 3px;
            }
        }
    }

    .product-list-body {


    }
}