.product-list-item {
    text-align: center;
    height: 70px;
    &:nth-child(odd){
        background-color: #f0d2ff61;
    }
    td {
        padding: 10px;
    }


    .product-list-item-id {
        
        font-weight: bold;
    }

    .product-list-item-info {
        text-align: left;
        font-size: 14px;
        h3{
            margin: 0;
        }
    }
    .product-list-item-price {

    }
    .product-list-item-delete {
        .fa-pencil {
            color: #00c4ad;
            cursor: pointer;
            font-size: 23px;
        }
    }
}