.product-list-item {
    height: 60px;
    .product-list-item-id {

    }

    .product-list-item-info {
        h3{
            margin: 0;
        }
    }
    .product-list-item-price {
        text-align: center;
    }
    .product-list-item-delete {
        text-align: center;
    }
}