.actions {
    
    background-color: #e0d2ff61;
    border-radius: 5px;
    box-shadow: inset 0px 0px 15px 0px #d1c9ffd6;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px;
    padding: 20px;
    width: 100%;
    .actions-inputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        div {
            display: flex;
            width: 100%;
            label {
                color: gray;
                display: flex;
                flex-direction: column;
                font-family: 'Pacifico', cursive;
                margin: 6px;
                box-sizing: border-box;
                input {
                    height: 20px; 
                    width: 100%;
                }
            }
        }

        .marca-label {
            width:50%;
        }
        .tipo-label {
            width: 40%;
        }
        .extras-label {
            width: 90%;
        }
        .porcentaje-label {
            width: 15%;
        }
        .leche-label {
            select {
                height: 26px;
            }
        }
        .precio-label {
            width: 15%;
        }
        
    }

    .add-button {
        align-self: center;
        background-color: #41085e;
        box-shadow: inset -1px -1px 4px 4px #855c9ac9;
                //border: #541900;ox-shadow: 
        border: none;
        border-radius: 50%;
        color: #fdfdfd;
        cursor: pointer;
        font-family: 'Pacifico', cursive;
        font-size: 18px;
        font-weight: 100;
      //  text-shadow: 4px 2px 2px #441400;
        height: 90px;
        width: 90px;
        &:hover {     
            box-shadow: none;
       }
        &:active {
            box-shadow:inset 1px 0px 4px 4px #29013e;

        }
    }

}