.actions {
    
    background-color: #e0d2ff61;
    border-radius: 5px;
    box-shadow: inset 0px 0px 15px 0px #d1c9ffd6;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px;
    padding: 30px;
    width: 100%;
    .actions-inputs {
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
        div {
            display: flex;
            width: 100%;
            label {
                color: gray;
                display: flex;
                flex-direction: column;
                font-family: 'Pacifico', cursive;
                margin: 6px;
                box-sizing: border-box;
                input {
                    height: 20px; 
                    width: 100%;
                }
            }
        }

        .marca-label {
            width:50%;
        }
        .tipo-label {
            width: 40%;
        }
        .extras-label {
            width: 90%;
        }
        .porcentaje-label {
            width: 15%;
        }
        .leche-label {
            select {
                height: 26px;
            }
        }
        .precio-label {
            width: 15%;
        }  
    }

    .add-button {
        align-self: center;
        background-color: #41085e;
        box-shadow: inset -1px -1px 4px 4px #855c9ac9;
        border: none;
        border-radius: 50%;
        color: #b073bfb5;
        cursor: pointer;
        font-family: 'Pacifico', cursive;
        font-size: 18px;
        font-weight: 100;
        height: 90px;
        text-shadow: 2px 1px #2c0440;

        width: 90px;
        &:active {    
            box-shadow: inset -1px -1px 9px 7px #160121b0;
            color: #6c2192;
        }
    }

}